@charset "utf-8";
@font-face {
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
.tb {
  display: none;
}
body {
  overflow-x: hidden;
  font-family: "Pretendard-Regular";
}
.inner {
  width: 1600px;
  margin: auto;
}
header {
  width: 100%;
  background: rgba(255, 200, 235, 0.8);
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navbar_contain {
  width: 1600px;
  height: 130px;
  text-align: center;
  margin: 0 152px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 90px;
  height: 60px;
  margin-top: 30px;
  position: relative;
}
.gnb {
  float: left;
  text-align: center;
}
.gnb li {
  display: inline-block;
  padding: 5px 30px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
}
.gnb li a {
  position: relative;
}
.nav_Bar {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  text-align: center;
}
.nav_Bar a {
  padding: 0 15px;
  height: 60px;
  font-weight: 500;
  line-height: 60px;
}
.nav_Bar button {
  background: none;
}
.btn_menu_mo {
  display: none;
}
.main_Img {
  margin-bottom: 100px;
}
.main_Text {
  position: absolute;
  left: 155px;
  top: 400px;
  display: inline-block;
  color: #31261d;
}
.main_Text h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 125%;
}
.main_Text p {
  font-size: 22px;
  font-weight: 700;
  line-height: 143%;
  padding: 30px 0;
  margin-bottom: 35px;
}
.main_Text span {
  border: 1px solid #000;
  text-align: center;
  width: 140px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 35px;
}
.section_Headertext {
  height: 300px;
  margin: auto;
  align-items: center;
  position: relative;
}
.section_Headertext h2 {
  font-size: 44px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.section_Headertext p {
  width: 244px;
  border: 1px solid #000;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  margin: 40px 0 100px;
  position: absolute;
  top: 100px;
  left: 42%;
}
.main_video iframe {
  width: 1920px;
  height: 1070px;
}
.odj_Img {
  position: relative;
  width: 100%;
  height: 900px;
}
.odj_Img::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.obj_Text {
  display: inline-block;
  position: absolute;
  left: 35%;
  top: 2900px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.obj_Text h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.obj_Text p {
  font-size: 28px;
  font-weight: 400;
  line-height: 143%;
  margin: 36px 0;
  text-align: center;
}
.obj_Text span {
  display: inline-block;
  border: 1px solid #fff;
  width: 140px;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  margin: 0 226px 0;
}
.obj_Text span:hover {
  background-color: #fff;
  color: #000;
}
.beauty {
  height: 900px;
  margin-bottom: 160px;
  padding: 130px 0 0;
}
.beauty h2 {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 700;
  color: #000;
  line-height: 100%;
  text-align: center;
}
.beauty > ul > li {
  float: left;
  margin-right: 15px;
}
.beauty li:last-child {
  margin-right: 0;
}
.goods {
  padding: 24px 24px 0;
  text-align: center;
}
.beauty .hash a {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  line-height: 100%;
  text-align: center;
}
.beauty .name a {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 133%;
  margin-top: 10px;
}
.beauty .about a {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  line-height: 140%;
  margin-top: 15px;
}
.beauty .small a {
  font-size: 12px;
  color: #5e5e5e;
}
footer {
  padding: 35px 50px;
  border-top: 1px solid #ccc;
}
.sns {
  width: 1600px;
  height: 33px;
  display: block;
  margin: 0 0 35px 0;
}
.sns li a {
  float: left;
  padding-right: 30px;
}
.fnb li {
  float: left;
  display: block;
  padding: 0 13px 0 0;
  font-size: 15px;
  font-weight: 400;
}
.fnb .bold {
  font-weight: bold;
}
.lang {
  margin-left: 45px;
  position: relative;
  float: right;
}
.lang button {
  position: relative;
  width: 210px;
  height: 35px;
  padding: 0 30px 0 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #000;
  background: #fff url(icon_select.png) no-repeat right center;
  background-size: 30px auto;
  font-size: 15px;
  box-sizing: border-box;
  text-align: left;
}
/* .lang ul {
  position: absolute;
  width: 210px;
  padding: 5px 0;
  border: 1px solid #000;
  border-top: 0;
  box-sizing: border-box;
}
.lang ul li {
  padding: 5px;
} */
.foot_Menu {
  width: 543px;
  height: 90px;
  position: relative;
}
address {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #222;
  font-style: normal;
}
.copy {
  margin-top: 22px;
  font-size: 13px;
}
.mark img {
  width: 55px;
  height: 39px;
  position: absolute;
  top: 30px;
  right: 45px;
}
